<?xml version="1.0" ?>
<bundles version="1.0">
  <scriptBundle path="~/bundles/js">
    <include path="~/scripts/first.js"></include>
    <include path="~/scripts/second.js"></include>
  </scriptBundle>
  <styleBundle path="~/bundles/css">
    <include path="~/Styles/2.css"></include>
    <include path="~/Styles/1.css"></include>
  </styleBundle>
</bundles>
